@import "config";

body {
  height: 100vh;
  width: 100vw;
  font-family: $ff;
  font-size: 0.875rem;
}

.background-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 33%;
  background: url("https://images.unsplash.com/photo-1617879463546-245ea07bb0d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.container {
  width: 60%;
  height: 33%;
  margin: auto;
  display: flex;
  align-items: center;

  .title {
    text-align: center;
  }
  .underline {
    margin-top: 5px;
    height: 2px;
    width: 180px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(50, 50, 50, 1) 29%,
      rgba(59, 58, 58, 0.75) 57%,
      rgba(168, 168, 168, 0.1) 100%
    );
  }

  .blocks {
    position: absolute;
    top: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap;

    width: 60%;
    margin: auto;

    .block {
      /*    background: green;*/
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0px 0px 15px -8px #000000;

      .block-title {
        padding: 0.75rem 1rem;
        background: rgba(31, 31, 31, 0.9);
        font-weight: 400;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .block-content {
        padding: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
      }

      .btn {
        border-radius: 75px;
        background: rgb(64, 209, 247);
        padding: 0.3rem 0;
        display: block;
        margin: 0 auto 1rem;
        color: #fff;
        width: 50%;
      }
    }

    .block:last-of-type {
      align-self: center;
      /*    background: red*/
    }
  }
}

@media screen and (max-width: #{$phone-width}) {
  .container {
    width: 90%;
    padding-bottom: 1rem;
    justify-content: center;

    .underline {
      margin: 5px auto;
      background: rgb(168, 168, 168);
      background: linear-gradient(
        90deg,
        rgba(168, 168, 168, 0.1) 0%,
        rgba(50, 50, 50, 1) 29%,
        rgba(0, 0, 0, 1) 47%,
        rgba(59, 58, 58, 0.75) 65%,
        rgba(168, 168, 168, 0.1) 100%
      );
    }

    .blocks {
      grid-template-columns: 1fr;
      width: 90%;
    }
  }

  .background-img {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.unsplash.com/photo-1617879463546-245ea07bb0d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
  .container .blocks {
    grid-template-columns: 1fr 1fr;
  }
}
